# Playground

Simply for testing stuff

In [80]:
import pandas as pd
import tabulate
import pprint as pp
import yaml
import numpy as np

In [61]:
df = pd.read_csv('data/asterank_10000.csv')

/Users/leima/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (15,17,26,31,41,49,71,72,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
df_sorted = df.sort_values(by = ['score'], ascending=False )

In [66]:
df_sorted.columns

Index(['A1', 'A2', 'A3', 'BV', 'G', 'GM', 'H', 'H_sigma', 'IR', 'UB', 'a',
       'ad', 'albedo', 'class', 'closeness', 'condition_code', 'data_arc',
       'diameter', 'diameter_sigma', 'dv', 'e', 'epoch', 'epoch_cal',
       'epoch_mjd', 'equinox', 'est_diameter', 'extent', 'first_obs',
       'full_name', 'i', 'id', 'inexact', 'last_obs', 'ma', 'moid', 'moid_jup',
       'moid_ld', 'n', 'n_del_obs_used', 'n_dop_obs_used', 'n_obs_used',
       'name', 'neo', 'om', 'orbit_id', 'pdes', 'per', 'per_y', 'pha',
       'prefix', 'price', 'producer', 'profit', 'prov_des', 'q', 'rms',
       'rot_per', 'saved', 'score', 'sigma_a', 'sigma_ad', 'sigma_e',
       'sigma_i', 'sigma_ma', 'sigma_n', 'sigma_om', 'sigma_per', 'sigma_q',
       'sigma_tp', 'sigma_w', 'spec', 'spec_B', 'spec_T', 'spkid', 't_jup',
       'tp', 'tp_cal', 'two_body', 'w'],
      dtype='object')

In [67]:
for key, val in (df_sorted[ df_sorted['name'] == 'Ryugu' ].T).iterrows():
    print(key,':', val)

A1 : 0    NaN
Name: A1, dtype: object
A2 : 0   -3.37188e-14
Name: A2, dtype: object
A3 : 0    NaN
Name: A3, dtype: object
BV : 0    NaN
Name: BV, dtype: object
G : 0    NaN
Name: G, dtype: object
GM : 0    NaN
Name: GM, dtype: object
H : 0    19.3
Name: H, dtype: object
H_sigma : 0    NaN
Name: H_sigma, dtype: object
IR : 0    NaN
Name: IR, dtype: object
UB : 0    NaN
Name: UB, dtype: object
a : 0    1.1896
Name: a, dtype: object
ad : 0    1.41589
Name: ad, dtype: object
albedo : 0    NaN
Name: albedo, dtype: object
class : 0    APO
Name: class, dtype: object
closeness : 0    5792.57
Name: closeness, dtype: object
condition_code : 0    0
Name: condition_code, dtype: object
data_arc : 0    11075
Name: data_arc, dtype: object
diameter : 0    NaN
Name: diameter, dtype: object
diameter_sigma : 0    NaN
Name: diameter_sigma, dtype: object
dv : 0    4.66308
Name: dv, dtype: object
e : 0    0.190226
Name: e, dtype: object
epoch : 0    2.45591e+06
Name: epoch, dtype: object
epoch_cal : 0    2.01112e+07
Name: epoch_cal, dtype: object
epoch_mjd : 0    55907
Name: epoch_mjd, dtype: object
equinox : 0    J2000
Name: equinox, dtype: object
est_diameter : 0    0.473674
Name: est_diameter, dtype: object
extent : 0    NaN
Name: extent, dtype: object
first_obs : 0    1986-04-14
Name: first_obs, dtype: object
full_name : 0    162173 Ryugu (1999 JU3)
Name: full_name, dtype: object
i : 0    5.88374
Name: i, dtype: object
id : 0    a0162173
Name: id, dtype: object
inexact : 0    NaN
Name: inexact, dtype: object
last_obs : 0    2016-08-09
Name: last_obs, dtype: object
ma : 0    3.98324
Name: ma, dtype: object
moid : 0    0.000638309
Name: moid, dtype: object
moid_jup : 0    3.70038
Name: moid_jup, dtype: object
moid_ld : 0    0.248411
Name: moid_ld, dtype: object
n : 0    0.75963
Name: n, dtype: object
n_del_obs_used : 0    NaN
Name: n_del_obs_used, dtype: object
n_dop_obs_used : 0    NaN
Name: n_dop_obs_used, dtype: object
n_obs_used : 0    725
Name: n_obs_used, dtype: object
name : 0    Ryugu
Name: name, dtype: object
neo : 0    Y
Name: neo, dtype: object
om : 0    251.62
Name: om, dtype: object
orbit_id : 0    JPL 120
Name: orbit_id, dtype: object
pdes : 0    162173.0
Name: pdes, dtype: object
per : 0    473.915
Name: per, dtype: object
per_y : 0    1.29751
Name: per_y, dtype: object
pha : 0    Y
Name: pha, dtype: object
prefix : 0    NaN
Name: prefix, dtype: object
price : 0    8.27562e+10
Name: price, dtype: object
producer : 0    Davide Farnocchia
Name: producer, dtype: object
profit : 0    3.00805e+10
Name: profit, dtype: object
prov_des : 0    1999 JU3
Name: prov_des, dtype: object
q : 0    0.963308
Name: q, dtype: object
rms : 0    0.35206
Name: rms, dtype: object
rot_per : 0    7.627
Name: rot_per, dtype: object
saved : 0   -6.90534e+10
Name: saved, dtype: object
score : 0    289.649
Name: score, dtype: object
sigma_a : 0    3.3264e-09
Name: sigma_a, dtype: object
sigma_ad : 0    3.9592e-09
Name: sigma_ad, dtype: object
sigma_e : 0    4.0878e-08
Name: sigma_e, dtype: object
sigma_i : 0    3.9603e-06
Name: sigma_i, dtype: object
sigma_ma : 0    2.5274e-05
Name: sigma_ma, dtype: object
sigma_n : 0    3.1861e-09
Name: sigma_n, dtype: object
sigma_om : 0    3.7157e-05
Name: sigma_om, dtype: object
sigma_per : 0    1.9878e-06
Name: sigma_per, dtype: object
sigma_q : 0    4.7907e-08
Name: sigma_q, dtype: object
sigma_tp : 0    3.3258e-05
Name: sigma_tp, dtype: object
sigma_w : 0    4.1484e-05
Name: sigma_w, dtype: object
spec : 0    Cg
Name: spec, dtype: object
spec_B : 0    Cg
Name: spec_B, dtype: object
spec_T : 0    NaN
Name: spec_T, dtype: object
spkid : 0    2.16217e+06
Name: spkid, dtype: object
t_jup : 0    5.308
Name: t_jup, dtype: object
tp : 0    2.4559e+06
Name: tp, dtype: object
tp_cal : 0    2.01112e+07
Name: tp_cal, dtype: object
two_body : 0    NaN
Name: two_body, dtype: object
w : 0    211.426
Name: w, dtype: object

Some notes:

1. rot_per: hours per rotation

In [68]:
columns_of_interest = ['id', 'name', 'full_name', 'spec', 'spec_B', 'spec_T', 'score', 'producer', 'price', 'diameter', 'diameter_sigma', 'a', 'e', 'dv', 'class', 'rot_per', 'profit']

In [69]:
df_sorted[ columns_of_interest ].head(10)

,id,name,full_name,spec,spec_B,spec_T,score,producer,price,diameter,diameter_sigma,a,e,dv,class,rot_per,profit
0,a0162173,Ryugu,162173 Ryugu (1999 JU3),Cg,Cg,NaN,289.648575,Davide Farnocchia,8.275616e+10,NaN,NaN,1.189601,0.190226,4.663076,APO,7.62700,3.008046e+10
1,a0010302,NaN,10302 (1989 ML),X,X,NaN,262.460209,Otto Matic,1.394186e+10,NaN,NaN,1.272462,0.136560,4.888815,AMO,19.00000,4.379885e+09
2,a0004660,Nereus,4660 Nereus (1982 DB),Xe,Xe,NaN,251.239956,Otto Matic,4.714379e+09,0.33,NaN,1.488760,0.359972,4.984853,APO,15.10000,1.390464e+09
3,a0101955,Bennu,101955 Bennu (1999 RQ36),B,B,NaN,240.458324,Otto Matic,6.699570e+08,0.492,0.02,1.126391,0.203745,5.095923,APO,4.29700,1.850021e+08
4,a0065803,Didymos,65803 Didymos (1996 GT),Xk,Xk,NaN,232.392954,Davide Farnocchia,6.225388e+10,0.78,0.08,1.644589,0.383833,5.163731,APO,2.25930,1.639471e+10
5,a0436724,NaN,436724 (2011 UW158),Xc,NaN,NaN,229.935533,Otto Matic,6.693105e+09,NaN,NaN,1.620642,0.376221,5.189490,APO,0.61073,1.735398e+09
6,a0001943,Anteros,1943 Anteros (1973 EC),L,L,S,208.337164,Otto Matic,5.574298e+12,2.3,NaN,1.430444,0.256043,5.439294,AMO,2.86923,1.249361e+12
7,a0098943,NaN,98943 (2001 CC21),L,L,NaN,194.977800,Otto Matic,1.470431e+11,NaN,NaN,1.032548,0.219359,5.635712,APO,5.01700,2.976815e+10
8,a0007474,NaN,7474 (1992 TC),X,X,NaN,192.813120,Otto Matic,8.400801e+10,NaN,NaN,1.565640,0.292275,5.647982,AMO,5.54000,1.678163e+10
9,a0194006,NaN,194006 (2001 SG10),X,X,NaN,179.392919,Otto Matic,3.050146e+09,NaN,NaN,1.448534,0.424268,5.879627,APO,NaN,5.445988e+08

In [71]:
df_sorted.head(100).to_csv('data/asterank_100.csv',index=False)

In [83]:
def save_as_yaml(ast_dic):
    
    yaml_data = {key: (float(val) if isinstance(val, np.float64) else val) for key, val in ast_dic.items()}

    with open('data/yaml/{}.yml'.format( str( yaml_data.get('id') ) ), 'w') as ymlfile:
        yaml.dump( yaml_data , ymlfile, default_flow_style=False, encoding='utf-8', allow_unicode=True)

In [87]:
save_as_yaml( df_sorted.iloc[0].to_dict() )